@import "./globals";
@import "./variables";
@import "./mixins";

//Container
.container {
    max-width: 300px;
    margin: 0 auto;
}

//Headings and paragraph
h1 {
    font-size: 3.6rem;
    line-height: 4.536rem;
}

h2 {
    font-size: 2.6rem;
    line-height: 3.276rem;
}

h3 {
    font-size: 2.4rem;
    line-height: 3.024rem;
}

p {
    font-size: 1.6rem;
    line-height: 2.6rem;
}

//Button
.btn {
    padding: 8px 28px 8px 27px;
    font-size: 1.4rem;
    line-height: 2.8rem;
}

//Header and footer logo
.logo {
    position: relative;
    width: 48px;
    height: 48px;
    background-color: $black;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 24px;
        height: 24px;
        transform: translate(30%, 30%);
        border: 3px solid $lightCream;
        border-radius: 50%;
    }
}

//Header
.header {
    margin-top: 16px;

    &__top {
        @include flexCenter(space-between);
    }

    //Hero section
    .hero {
        margin-bottom: 100px;

        &__content {
            margin: 32px 0;
            text-align: center;

            &-title {
                margin-bottom: 16px;
            }

            &-text {
                max-width: 285px;
                margin: 0 auto;
            }
        }

        &__services {
            display: grid;
            grid-template-columns: repeat(2, 136px);
            grid-template-rows: 364px 182px 158px repeat(2, 182px);
            grid-gap: 24px 25px;

            .card {
                display: flex;
                padding: 0 0 24px 24px;
                position: relative;
                border-radius: 8px;
                color: #fff;

                &__text {
                    margin-top: auto;
                    font-size: 2.4rem;
                    line-height: 3.024rem;
                }

                &__img {
                    position: absolute;
                    top: 24px;
                    right: 24px;
                }

                &.graphic-design,
                &.illustrations,
                &.photography,
                &.motion-graphics {
                    grid-column: span 2;
                }

                &.graphic-design {
                    background-color: $galacticBlue;
                }

                &.ui-ux {
                    background-color: $summerYellow;
                }

                &.apps {
                    background-color: $pink;
                }

                &.illustrations {
                    background-color: $lightRed;
                }

                &.photography {
                    background-color: $cyan;
                }

                &.motion-graphics {
                    background-color: $darkPurple;
                }
            }
        }
    }
}

//Testimonials section
.testimonials {
    text-align: center;
    margin-bottom: 100px;

    &__img {
        width: 300px;
        height: 300px;
        margin-bottom: 40px;
    }

    &__title {
        margin-bottom: 24px;
    }

    &__text {
        margin-bottom: 24px;
    }
}

//Works section
.works {
    text-align: center;
    margin-bottom: 100px;

    &__title {
        margin-bottom: 32px;
    }

    .swiper-slide {
        max-width: 70%;

        img {
            width: 100%;
            border-radius: 10px;
        }
    }

    .button-controls {
        display: flex;
        justify-content: center;
        margin-top: 32px;
        gap: 16px;
    }
}

//Booking section
.booking {
    max-width: 300px;
    margin: 0 auto 40px auto;
    padding: 48px 24px;
    background-color: $black;
    border-radius: 10px;
    color: $lightCream;
    text-align: center;

    &__content {
        max-width: 295px;
        margin: 0 auto;

        &-title {
            color: $lightCream;
            margin-bottom: 24px;
        }

        &-text {
            margin-bottom: 24px;
        }
    }
}

//Footer
.footer {
    margin-bottom: 32px;

    &__inner {
        @include flexCenter(space-between);
    }
}

@media screen and (min-width: 375px) {

    //Container
    .container {
        max-width: 343px;
    }

    .header .hero__services {
        grid-template-columns: repeat(2, 159px);
    }

    .header .hero__services .card.graphic-design {
        width: 343px;
    }

    //Booking
    .booking {
        max-width: 343px;
    }
}

@media screen and (min-width: 768px) {

    //Container
    .container {
        max-width: 689px;
    }

    //Headings and paragraph
    h1 {
        font-size: 4.4rem;
        line-height: 5.544rem;
    }

    h2,
    h3 {
        font-size: 3.2rem;
        line-height: 4.032rem;
    }

    p {
        font-size: 1.8rem;
        line-height: 2.8rem;
    }

    //Button
    .btn {
        padding: 14px 45px;
        font-size: 1.6rem;
    }

    //Header and footer logo
    .logo {
        width: 64px;
        height: 64px;

        &::after {
            width: 32px;
            height: 32px;
            transform: translate(35%, 35%);
        }
    }

    //Header
    .header {
        margin-top: 34px;

        //Hero section
        .hero {
            margin-bottom: 120px;

            &__content {
                margin: 64px 0;

                &-title {
                    margin-bottom: 27px;
                }

                &-text {
                    max-width: 573px;
                }
            }

            &__services {
                grid-template-columns: repeat(3, 155px);
                grid-template-rows: repeat(3, 182px);
                grid-gap: 24px;

                .card {

                    &.graphic-design {
                        grid-column: span 2;
                        grid-row: span 2;
                    }

                    &.apps {
                        grid-area: 1 / -1;
                    }
                }
            }
        }
    }

    //Testimonials section
    .testimonials {
        text-align: left;
        margin-bottom: 120px;

        &__inner {
            @include flexCenter(center)
        }

        &__content {
            margin-left: 69px;
        }

        &__img {
            position: relative;
            left: -44px;
            margin-bottom: 0;
        }

        &__title,
        &__text {
            margin-bottom: 24px;
        }
    }

    //Works section
    .works {
        margin-bottom: 120px;

        &__title {
            margin-bottom: 56px;
        }

        .button-controls {
            margin-top: 56px;
        }
    }

    //Booking section
    .booking {
        max-width: 690px;
        margin: 0 auto 56px auto;
        padding: 56px 75px 64px;

        &__content {
            max-width: 540px;

            &-title,
            &-text {
                margin-bottom: 26px;
            }
        }
    }

    //Footer
    .footer {
        margin-bottom: 56px;
    }
}

@media screen and (min-width: 992px) {
    .works .swiper-slide {
        max-width: 544px;
    }
}

@media screen and (min-width: 1200px) {

    //Container
    .container {
        max-width: 1110px;
    }

    //Headings and paragraph
    h1 {
        font-size: 5.6rem;
        line-height: 7.056rem;
    }

    h2 {
        font-size: 4rem;
        line-height: 5.04rem;
    }

    h3 {
        font-size: 3.2rem;
        line-height: 4.032rem;
    }

    //Header
    .header {

        //Hero section
        .hero {
            margin-bottom: 136px;

            &__content {
                margin: 64px 0 80px;

                &-title {
                    margin-bottom: 23px;
                }

                &-text {
                    max-width: 730px;
                }
            }

            &__services {
                grid-template-columns: repeat(4, 164px);
                grid-template-rows: repeat(2, 182px);
                grid-gap: 24px;

                .card {

                    &.apps {
                        grid-area: auto;
                    }

                    &.photography {
                        grid-area: 1 / -1;
                    }

                    &.motion-graphics {
                        grid-area: 2 / -1;
                    }
                }
            }
        }
    }

    //Testimonials section
    .testimonials {
        margin-bottom: 88px;

        &__content {
            margin-left: 125px;
        }

        &__img {
            left: 0;
            width: 445px;
            height: 445px;
        }

        &__title {
            margin-bottom: 34px;
        }

        &__text {
            margin-bottom: 32px;
        }
    }

    //Works section
    .works {
        margin-bottom: 88px;
    }

    //Booking section
    .booking {
        max-width: 1110px;
        padding: 56px 75px 64px;
        text-align: left;

        &__content {
            @include flexCenter(space-between);
            max-width: 100%;

            &-info {
                max-width: 540px;
            }

            &-title {
                margin-bottom: 25px;
            }

            &-text {
                margin-bottom: 0;
            }
        }
    }

    //Footer
    .footer {
        margin-bottom: 64px;
    }
}